# Android
# Build your Android project with Gradle.
# Add steps that test, sign, and distribute the APK, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/android

pool:
  vmImage: 'macOS-latest'

steps:
  - script: |
      ./docs1.sh
      git config --local user.name "Azure Pipelines"
      git config --local user.email "tamh@mypinpad.com"
      git add .
      git commit -m "Publishing GitHub Pages  ***NO_CI***"
    displayName: 'Build and commit pages'

  - task: DownloadSecureFile@1
    inputs:
      secureFile: deploy_key
    displayName: 'Get the deploy key'

  - script: |
      mkdir ~/.ssh && mv $DOWNLOADSECUREFILE_SECUREFILEPATH ~/.ssh/id_rsa
      chmod 700 ~/.ssh && chmod 600 ~/.ssh/id_rsa
      ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
      git remote set-url --push origin git@github.com:tamhuynhmpp/tamhuynhmpp.github.io.git
      git push origin HEAD:master
    displayName: 'Publish GitHub Pages'